<style>
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #inputWidth {
    width: 100% !important;
  }
  .ghost-input {
    font-size: 125%;
  }
  .container-fluid {
    margin-top: 25%;
  }
}
</style>



<div class="main">
  <div class="container-fluid">
    <form id="roomSubmit" action='/createRoom' method="POST">
      <div id="inputWidth" class="center topLevel" style="width: 60%; margin-right: auto; margin-left: auto;">
        <input maxlength="30" autocomplete="off" onfocus="this.placeholder = ''" name="roomNameBar" id="roomName" placeholder="Enter a room name here" class="ghost-input text-center animated"></input>
    </div>
    <div class="center" >
      <h1 class="text-center text label-text boxed raise" name="button" id="startRoom">Go Live</h1>
    </div>
    </form>
  </div>
</div>

<script type="text/javascript">


$.ajax({
  url:'/isActive?spotifyId='+localStorage.getItem('spotifyId'),
  success: function(response){
    console.log("reached here", response.active);
    if(response.active === true)window.location.href = '/multipleTabs';
  },
  error: function(response){
    console.log(response);
  }
})


$('#startRoom').on('click', function() {
  $('#roomSubmit').submit();
})

var existingRoomNames = '{{existingRoomNames}}';
console.log("existingRoomNames", existingRoomNames);

$('#roomSubmit').on('submit', function (event) {
    var proposedRoomName = $('#roomName').val();
    if(existingRoomNames.indexOf(proposedRoomName) !== -1){
      event.preventDefault();
      $('#roomName').addClass('shake');
      setTimeout(function() {
        $('#roomName').removeClass('shake');
      }, 1000)
      if(!($('#error').length)) {
        $('form').append(`<h1 class="text-center text small animated fadeIn" style="color: #6a0105;" name="button" id="error">That room name is already taken</h1>`)
      }
      console.log($('#error'));
    }
});

</script>
