<div class="center">
  <img class="img-responsive" style="width: 50%; height: 50%;" src="/static/images/finalized_color.jpg" alt="">
</div>
<h1 class="text-center middle text">404</h1>

<div class="center">
  <h1 class="text-center small text">You hit a page that doesn't exist : - (</h1>
</div>
<div class="center">
    <h1 id="home" class="closeRoom text-center text small boxed raise"> Go back to home </h1>
</div>

<script>
$('#home').on('click', function(){
  window.location = '/';
})
</script>
