<div class="center">
  <img class="img-responsive" style="width: 50%; height: 50%;" src="/static/images/finalized_color.jpg" alt="">
</div>
<h1 class="text-center middle text">404</h1>

<div class="center">
  <h1 class="text-center small text">You cannot join multiple rooms my friend.</h1>
  <h3 class="text-center small text">Leave your current room to join or create a new room.</h3>
</div>
