<div class="center">
  <img class="img-responsive" style="width: 50%; height: 50%;" src="/static/images/finalized_color.jpg" alt="">
</div>
<div class="center">

  <h1 class="text-center small text"> Sorry but this app only works for spotify premium users :( </h1>

</div>
