body {
  background-color: #1E1D1D;
  overflow-x: hidden;
}

a {
  color: white;
}

a:hover {
  text-decoration:none;
  color: white;
}


.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.right {
  display: flex;
}

.text {
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

.standard-text {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

.headertext {
  font-size: 55px;
}

.middle {
  font-size: 50px;
  margin-bottom: 25px;
}

.label-text {
  font-size: 30px;
}

.small {
  font-size: 20px;
}

.smaller {
  font-size: 15px;
}

.raise {
  box-shadow: 0 1px 2px #999;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

.raise:hover {
  box-shadow: 0 1px 20px #999;
}

.topLevel {
  margin-top: 10%;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.boxed {
  border: 1px solid white;
  border-radius: 10px;
  width: inherit;
  padding: 8px 40px 8px 40px;
  cursor: pointer;
}


.ghost-input {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 255%;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background: #1E1D1D;
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-bottom:1px solid grey;

}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}

.raise-room {
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.raise-room:hover {
  box-shadow: 0 1px 5px grey;
  cursor: pointer;

}

.pointer:hover {
  cursor: pointer;
}

.no-margin {
  margin-top: 0% !important;
}



/*THIS IS GOING TO BE THE ANIMATION */

.fire {
  position: relative;
  animation-name: movement;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.request {
  position: relative;
  animation-name: movement;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.red {
  color: red;
}


#laflame {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#sendgrace {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

@keyframes movement {
  0%{

    bottom: 0;
    /*right: 50px;*/
  }
  /*20%{
    right: 40px;
  }
  40%{
    right: 60px;
  }

  50%{
    right: 70px;
  }
  60%{
    right: 30px;
  }
  70%{
    right: 50px;
  }
  80%{
    right: 25px;
  }
  90%{
    right: 50px;
  }*/
  100%{
    bottom: 2000px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  box-sizing:border-box;
  width: 80px;
  height: 80px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  margin: 20px 10px 10px 10px;
}

.grid-item-buffer {
  opacity: 0;
}


.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(6) {
   margin-top: 0px;
}


/*@media (max-width: 1024px) {
  .container {
    margin-top: 15%;
    margin-bottom: 10%;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .headertext {
    font-size: 300px;
  }

}

@media (min-width: 300px) and (max-width: 600px) {
  #leftaux {
    opacity: 0;
  }
  #rightaux {
    opacity: 0;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .ghost-input {
    font-size: 18px;
  }
  .label-text {
    font-size: 18px;
  }
}*/
