<style>
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .grid-item {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    margin: 20px 10px 10px 10px;
    margin-top: 10px;
}

#djtalk {
  width: 100% !important;
}
}
</style>

<div>

  <div class="row">
    <div class="col-sm-3">
      <h1 data-id="{{newRoom.roomName}}" style="margin-left: 5%; margin-right: 5%;"class="closeRoom text-center text small boxed raise" id="closeRoom"><a href='/closeRoom?roomId={{newRoom._id}}'>Close Room</a></h1>
    </div>
    <div class="col-sm-6">
      <h1 class="text-center standard-text medium animated slideInDown">{{newRoom.roomName}}</h1>
      <div id="djphoto" class='center'>
        <img src='{{newRoom.imageURL}}' class="img-responsive animated wobble" style="border-radius: 50%; width: 20%; height: 20%;" >
      </div>
      <h2 class="text-center standard-text small">You are the host</h2>
    </div>
  </div>

  <div class="center">
    <h1 style=""class="text-center text small boxed raise" data-toggle="modal" data-target="#exampleModalLong">Played Songs</h1>
  </div>

  <!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"> -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 style="color: black;"class="modal-title text-center standard-text" id="exampleModalLongTitle">Played Songs 🎉</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body lastSongs">

        </div>
          <form autocomplete="off" id="djtalkform">
            <input  maxlength="35" id="djtalkval" style="border: none; font-size: 20px;" placeholder="What's the wave..." class="ghost-input"></input>
          </form>
        <div class="modal-footer"  style="background-color: #1E1D1D">
          <h1 id="djtalk" class="text-center text small boxed raise" style="width: 20%; " data-dismiss="modal">Submit</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="activeUsersforDJ col-sm-offset-2 center">
    </div >

    <div class="col-sm-offset-3">
    </div>

  </div>

</div>

<script src="/static/dj.js"></script>

<script>
$('#djtalkform').on('submit', function(e) {
  e.preventDefault();
  $('#djtalk').click();

})
</script>

<script>
 function searchFunction() {
   // Declare variables
   var input, filter, div, h1, i;
   input = document.getElementById('myInput');
   filter = input.value.toUpperCase();
   div = document.getElementById("potentialDJS");
   h1 = div.getElementsByClassName('searchUsers');
   // Loop through all h1st items, and hide those who don't match the search query
   for (i = 0; i < h1.length; i++) {
     console.log(h1.length);
     if (h1[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
       h1[i].style.display = "";
     } else {
       h1[i].style.display = "none";
     }
     ///.///afasfsdg
   }
 };
 </script>
