<div class="center">
  <img class="img-responsive" style="width: 50%; height: 50%;" src="/static/images/finalized_color.jpg" alt="">
</div>
<div class="center">
  <h1 class="text-center small text">You hit a page that doesn't exist :(</h1>
</div>
